[submodule "m1-panner"]
	path = m1-panner
	url = https://github.com/Mach1Studios/m1-panner.git
[submodule "m1-monitor"]
	path = m1-monitor
	url = https://github.com/Mach1Studios/m1-monitor.git
[submodule "m1-player"]
	path = m1-player
	url = https://github.com/Mach1Studios/m1-player.git
[submodule "m1-orientationmanager"]
	path = m1-orientationmanager
	url = https://github.com/Mach1Studios/m1-orientationmanager.git
[submodule "m1-transcoder"]
	path = m1-transcoder
	url = https://github.com/Mach1Studios/m1-transcoder.git
